@charset "UTF-8";



body{
    font-family: Arial, Helvetica, sans-serif;
}

/*--------------------------------------------------*/
/* Configuração da página de esporte */
/*--------------------------------------------------*/

.esporte{
    text-align: center;
}

.jiujitsu{
    border: 1px solid black;
    color: white;
    background-color: rgb(52, 52, 245);
    padding: 6px 0px 6px 0px;
    margin: -10px -8px 9px -8px;

}

.muaythai{
    border: 1px solid black;
    color: white;
    background-color: rgb(249, 38, 38);
    padding: 6px 0px 6px 0px;
    margin: -10px -8px 0px -8px;
}

.professores{
    text-align: center;
    font-size: 12px;
}

/*--------------------------------------------------*/
/* Configuração da tabela de horário */
/*--------------------------------------------------*/

.horario{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    height: 249px;
}

table{
    border-collapse: collapse;
}

caption{
    border: 1.5px solid white;
            font-size: 1.3em;
            font-weight: bold;
            padding: 10px;
}

th, td{
    border: 1.5px solid white;
    padding: 10px;
}

/*Configuração das cores de cada sexo*/


.masculino{
    color: rgb(91, 91, 255);
}

.feminino{
    color: rgb(255, 0, 255);
}

.misto{
    color: rgb(239, 51, 51);
}

.kids{
    background-image: linear-gradient(to right, rgba(115, 229, 115, 0.562), rgb(205, 205, 99), rgb(74, 74, 191), rgb(180, 59, 59));
}

/**/

div#container{
    overflow-x: auto;
    margin: 0px 0px 0px 170px;
}

.alinhamento{
    text-align: center;
}

